/* Box sizing rules */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Set core element defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles (bullets/numbers) */
ul,
ol {
  list-style: none;
}

/* Remove default styles for links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default styles for buttons */
button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Remove default styles for inputs */
input,
button,
textarea,
select {
  font: inherit;
  margin: 0;
}
